# dependencies
node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem
.env*
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Logs
*.log

# Ignore everything not essential
*.png
!public/hero-intro.gif
!public/logo.svg
!public/lovable-uploads/mockup-hf.png
!public/robots.txt

*.mp4
*.jpg

.zscripts/
start-dev.sh
download/
test/
prompt
worklog.md

db/
prisma/
mini-services/
.claude
.z-ai-config
upload/
/skills/
